




#colorShow{
    width: 400px;
    height:400px;
    position: absolute;
    top: 0px;
    left: 0px;


}

#bar{
    width: 20px;
    height:400px;
    position: absolute;
    top: 0px;
    left: 410px;
    background: -webkit-linear-gradient(rgb(255,0,0),rgb(255,156,0),rgb(255,255,0),rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255));
    cursor: pointer;
}


/*// 红（R：255 G：0 B：0）1*/
/*// 橙（R：255 G：156 B：0）2*/
/*// 黄（R：255 G：255 B：0）3*/
/*// 绿（R：0 G：255 B：0）4*/
/*// 青（R：0 G：255 B：255）5*/
/*// 蓝（R：0 G：0 B：255）6*/
/*// 紫（R：255 G： B：255）7*/

#colorPointer{
    width: 5px;
    height: 5px;
    position: absolute;
    background: white;
    /*top: 200px;*/
    /*left: 200px;*/
    border-radius: 2px;
}

#barPoint{
    width: 20px;
    height: 5px;
    position: absolute;
    background: white;
    top: 10px;
    /*left: 0px;*/
    border-radius: 2px;
}

.container{
   position: absolute;
    top:0px;
    left:600px;

    width: 80px;
    background: #ccc;



}

input{
    width: 50px;
    margin-bottom: 10px;
}

label{
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}


